# Unit 2 | Homework Assignment: Automate Your Day Job with Python: PyBank
## Completed by: Jonathan Eidam
## Date: March 28, 2021

## Instructions:

Your task is to create a Python script that analyzes the records to calculate each of the following:


    - The total number of months included in the dataset.


    - The net total amount of Profit/Losses over the entire period.


    - The average of the changes in Profit/Losses over the entire period.


    - The greatest increase in profits (date and amount) over the entire period.


    - The greatest decrease in losses (date and amount) over the entire period.

Your resulting analysis should look similar to the following:

  ```text
  Financial Analysis
  ----------------------------
  Total Months: 86
  Total: $38382578
  Average  Change: $-2315.12
  Greatest Increase in Profits: Feb-2012 ($1926159)
  Greatest Decrease in Profits: Sep-2013 ($-2196167)
  ```

Your final script should print the analysis to the terminal and export a text file with the results.

## Solution:

In [1]:
# Import libraries and dependencies
import pandas as pd
import os

In [2]:
# create a Pandas dataframe from a csv file and set the `date` column as the index to the DataFrame
pybank_csv = pd.read_csv('Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv', index_col='Date')

pybank_csv

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]

In [3]:
# Calculate Total months
total_months = len(pybank_csv)
total_months

86

In [4]:
# Isolate Profit/Losses to calculate Net Total
net_total = pybank_csv[['Profit/Losses']]
net_total

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]

In [5]:
# Calculate Net Total Amount
net_total_amt = int(net_total.sum())
net_total_amt

38382578

In [6]:
# Calculate Profit/Losses (PnL) change then calculate the Average PnL
pnl_change = (net_total - net_total.shift(1))
avg_change = pnl_change.mean()
avg_change_rounded = float(round(avg_change, 2))
avg_change_rounded

-2315.12

In [7]:
# Calculate the greatest increase in profits (amount) over the entire period
greatest_increase = int(pnl_change.max())
greatest_increase

1926159

In [8]:
# Calculate the greatest increase in profits (date) over the entire period
greatest_increase_month = pnl_change.idxmax()[0]
greatest_increase_month

'Feb-2012'

In [9]:
# Calculate the greatest decrease in losses (amount) over the entire period
greatest_decrease = int(pnl_change.min())
greatest_decrease

-2196167

In [10]:
# Calculate the greatest decrease in losses (date) over the entire period
greatest_decrease_month = pnl_change.idxmin()[0]
greatest_decrease_month

'Sep-2013'

In [11]:
# Assign a variable with the output data to be later exported as a text file
output = (
    "\nFinancial Analysis\n"
    f"----------------------------\n"
    f"Total Months:  {total_months}\n"
    f"Total:  ${net_total_amt}\n"
    f"Average Change:  ${avg_change_rounded}\n"
    f"Greatest Increase in Profits:  {greatest_increase_month} (${greatest_increase})\n"
    f"Greatest Decrease in Profits:  {greatest_decrease_month} (${greatest_decrease})\n")

print(output)

Financial Analysis
----------------------------
Total Months:  86
Total:  $38382578
Average Change:  $-2315.12
Greatest Increase in Profits:  Feb-2012 ($1926159)
Greatest Decrease in Profits:  Sep-2013 ($-2196167)

In [12]:
# Use the os.path.join() method to join path components
output_to_text = os.path.join("financial_analysis.txt")

In [13]:
# Write the output variable to a Text file
with open(output_to_text, "w") as txt_file:
   txt_file.write(output)  

   output_to_text